*.cubemap
project-avalon-team-vitheria/Assets/ImportedAssets/Real Stars Skybox/StarSkybox04/CubemapStars.cubemap.meta
project-avalon-team-vitheria/Assets/ImportedAssets/Real Stars Skybox/StarSkybox04NamedConstell/CubemapStarsNamedConstellations.cubemap.meta
